@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a3140;
}

.form-container {
  background-color: white
  width: 1440px;
  height: 1024px;
  border: oldlace;
}
main.container form div.header strong {
  color: #fcfcfc;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

main.container form div.header p {
  color: #b8bfc4;
  font-family: "Raleway", sans-serif;
}

main.container form div.header a {
  color: #b8bfc4;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
