@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a3140;
}

main.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
}

main section.lef-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.lef-section div.logo-name {
  margin-top: 50px;
}

main section.right-section {
  width: 50%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

main.container form div.form-container {
  width: 544px;
  height: 790px;
  background-color: #364f5e;
  padding: 96px 87px;
}

main.container form div.header-information {
  width: 194px;
  display: flex;
  padding-bottom: 40px;
}

main.container form div.form-header strong {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #fcfcfc;
}
main.container form div.form-header p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #b8bfc4;
}
main.container form div.form-header a {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #b8bfc4;
  text-decoration: none;
  margin-left: 2px;
}

main.container form div.form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

main.container form div.form-inputs input {
  width: 100%;
  height: 47px;
  background-color: #364f5e;
  border: 1px solid rgba(252, 252, 252, 0.7);
  padding: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #fcfcfc;
}

input:focus {
  outline: 0;
}

main.container form div.form-inputs :first-child {
  margin-bottom: 32px;
}

main.container form div.form-inputs span {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #b8bfc4;
  text-align: end;
  margin: 8px 0 16px 0;
}

main.container form div.form-inputs button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fcfcfc;
  text-transform: uppercase;
  background-color: #1a3140;
  height: 44px;
  border: none;
  position: relative;
}

main.container form div.form-inputs button img {
  position: absolute;
  right: 16px;
}
main.container form div.form-separation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

main.container form div.line-right {
  width: 150px;
  height: 1px;
  border: solid 1px #1a3140;
}
main.container form div span {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #fcfcfc;
}
main.container form div.line-left {
  width: 150px;
  height: 1px;
  border: solid 1px #1a3140;
}

main div.icons {
  padding: 0px 32px;
  margin: 67px 0 97px 0;
}

main div.icons ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

main div.icons ul li {
  list-style: none;
}
